.button-direction {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.modal-category{
    .ant-modal{
        .ant-modal-content {
        
            padding: 50px 24px 20px !important;
    }
}
}
