:root {
    --vt-c-white: #ffffff;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-bold: #000000;

    --vt-c-main: #1677ff;
    --vt-c-main-title: #519fb0;
    --vt-c-main-gray-v1: #ffffff;
    --vt-c-main-gray-v2: #0003;
    --vt-c-gray-v5: #666666;
    --vt-c-gray-v6: #f7f7f7;
    --vt-c-gray-v17: #e6e6e6;

    --color-background: #f5f7fb;
    --color-background-sidebar: #e6e6e6;

    --vt-br-btn: 3px;

    --vt-c-gray-1: #666666;
    --vt-c-gray-2: #444444;
    --vt-c-gray-3: #dddddd;
    --vt-c-gray-4: #f9f9f9;
    --vt-c-gray-5: #d3d3d3;
    --vt-c-gray-6: #d9d9d9;

    --vt-box-shadow: 0px 0px 4px 0px var(--vt-c-gray-3);

    --vt-c-bg-footer: rgb(15 23 42);
    --vt-c-text-footer: rgb(14 165 233);
    --vt-c-text-header: rgb(8 47 73);
}
